body {
  background-color: #000000;
  font-size: 18px;
  font-family: Helvetica;
  color: #FFFFFF;
}

/*Content containers*/
div.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  max-width: 960px;
  margin: auto;
}

/*Header styling*/
.header {
  width: 100%;
  overflow: auto;
}

.header img {
  height: 1.5rem;
  width: auto;
  margin-right: 1rem;
  margin-left: 0.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.header span {
  text-transform: uppercase;
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
}

/*Banner styling*/
.banner {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-position: center;
  /*Ensures margins of child elements affect height of parent*/
  overflow: auto;
}

.banner .arrivals {
  background-color: #000000;
  width: 25rem;
  margin-top: 9rem;
  font-weight: bold;
  text-transform: uppercase;
  /*Ensures margins of child elements affect height of parent*/
  overflow: auto;
}

.banner .arrivals h4 {
  margin-top: 2rem;
  margin-left: 3rem;
  font-size: 1rem;
}

.banner .arrivals h2 {
  margin-top: 0.25rem;
  margin-left: 3rem;
  margin-bottom: 3rem;
  font-size: 2rem;
}
