body {
  background-color: #000000;
  font-size: 18px;
  font-family: Helvetica;
  color: #FFFFFF;
}

/*Content containers*/
div.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  max-width: 960px;
  margin: auto;
}

/*Header styling*/
.header {
  width: 100%;
  overflow: auto;
}

.header img {
  height: 1.5rem;
  width: auto;
  margin-right: 1rem;
  margin-left: 0.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.header span {
  text-transform: uppercase;
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
}

/*Banner styling*/
.banner {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-position: center;
  /*Ensures margins of child elements affect height of parent*/
  overflow: auto;
}

.banner .arrivals {
  background-color: #000000;
  width: 25rem;
  margin-top: 9rem;
  font-weight: bold;
  text-transform: uppercase;
  /*Ensures margins of child elements affect height of parent*/
  overflow: auto;
}

.banner .arrivals h4 {
  margin-top: 2rem;
  margin-left: 3rem;
  font-size: 1rem;
}

.banner .arrivals h2 {
  margin-top: 0.25rem;
  margin-left: 3rem;
  margin-bottom: 3rem;
  font-size: 2rem;
}

/*Nav bar styling*/
.nav-bar {
  background-color: firebrick;
  width: 100%;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav ul #hidden-menu {
  display: none;
}

nav li {
  display: inline;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

nav li a {
  text-decoration: none;
  color: white;
}

/*Main content area (products and shop info)*/
.content {
  background-color: #FFFFFF;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

/*Product grid styling*/
.product-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid #000000;
  width: 30%;
  margin-bottom: 3em;
}

.product img {
  max-height: 9rem;
  width: auto;
  style: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#glasses img {
  max-width: 9rem;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.product span {
  background-color: #000000;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  width: 100%;
}

/*Shop information styling*/
.shop-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
  background-color: #000000;
  color: #FFFFFF;
}

.info-block .info-head {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 2rem;
}

.info-block .info {
  padding-top: 0.2rem;
  color: #000000;
  background-color: #FFFFFF;
  width: 100%;
  height: 40%;
}

/*Footer styling*/
footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 5rem;
}

/*Media queries*/
@media only screen and (max-width: 1024px) {
  /*Product grid, change width and hide glasses*/
  #glasses {
    display: none;
  }

  .product {
    width: 47%;
  }

  /*Hide menu items except hidden menu*/
  nav ul {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  nav li {
    display: none;
  }

  nav ul #hidden-menu {
    display: inline-block;
  }
}

@media only screen and (max-width: 470px) {

}
